@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
  font-family: 'Nanum Pen Script', cursive;
  margin:0;
  background-color: #292E33;
}
a{
  color:#F2F2F2;
  text-decoration: none;
  margin:0;
}
.global-width{
  width:1024px;
  margin: 0 auto;
}
.header{
  z-index: 1;
  position: fixed;
  background-color: #292E33;
  width:100vw;
  height:50px;
}
.brand{
  display: flex;
  float:left;
  width:100px;
  height: 50px;
  text-align:center;
}
.brand__bar{
  background-image: url(../img/menu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  line-height:25px;
}
.brand__watfle{
  color: #7F7F7F;
  width:70px;
  height:50px;
  line-height:50px;
  font-size:2rem;
}
.toggle{
  font-size: 2rem;
  float:left;
  width:150px;
  height:15px;
  /* margin-left: calc(50% - 100px - 50px);*/
  margin-left:326px;
  margin-top: 10px;
  line-height:20px;
  text-align:center;
}
.toggle-item{
  color: #aaa;
}
.toggle-item:hover{
  cursor: pointer;
}
.toggle-item--on{
  color: #fff;/*imsi*/
  text-shadow: 0 0 5px orange;
}
.search-box{
  display: flex;
  float:right;
  width:230px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  line-height:30px;
  text-align:center;
}
.search-box__search{
  width:30px;
  height:30px;
  background-image: url(../img/zoom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.account-box{
  background-image: url(../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:right;
  width:70px;
  height:40px;
  margin-top: 5px;
  line-height:40px;
  text-align:center;
}
.content{
  width:100vw;
  min-height: calc(100vh - 50px);
}
.review-box__title{
  font-size: 1.7rem;
  /*color: #B490E4;*/
  color:#B01414;;
}
.review-box__content{
  font-size: 1.4rem;
  color: #D0CECE;
}
.top-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  height: 500px;
}
.poster-box{
  z-index: 0;
  position:relative;
  /*position: static;*/
  width:200px;
  height: 320px;
}
.poster-box__crown{
  position:absolute;
  background-image: url(../img/crown.png);
  background-size: cover;
  background-position: center;
  left:65px;
  width:70px;
  height:30px;
}
.poster-box__poster{
  background-image: url(../img/lalaland.jpg);
  background-size: cover;
  background-position: center;
  width:200px;
  height:300px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 0 10px 30px 0 grey;
}
.review-box{
  width:600px;
  height:200px;
}
.bottom-content{
  margin-top: 0;
  width:100%;
}
.bottom-content__title{
  font-size: 2rem;
  color: #D0CECE;
}
.film-box{
  display: flex;
  justify-content: space-between;
}
.film-box__poster{
  padding:10px;
  width:200px;
  height:300px;
  box-shadow: 0 10px 30px 0 grey;
}
.film-box__poster--1{
  background-image: url(../img/notebook.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.film-box__poster--2{
  background-image: url(../img/beast.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.film-box__poster--3{
  background-image: url(../img/potter.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.film-box__poster--4{
  background-image: url(../img/time.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.footer{
  margin-top: 100px;
  width:100vw;
  height:200px;
  text-align: center;
  /*background-color: lightgreen;*/
}
.watfle{
  font-size: 2rem;
  color: #B01414;
}
.information{
  color:#F2F2F2;
  font-size: 1.3rem;
  padding-right:10px;
}
.copy{
  color:#7F7F7F;
  padding-left:10px;
  padding-top: 5px;
  font-size: 1.2rem;
}
