@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
	font-family: 'Nanum Pen Script', cursive;
	margin: 0;
}

 a{
	color:white;
 	text-decoration:none;
 	font-weight:bold;
}

.globalwidth{
	/*width: 10000px;*/
	width:1024px;
	margin: 0 auto;
	/*align-items:center;*/
}

header {
  position: fixed;
  width: 100%;
}
.top{
	font-size: 1.2rem;
  background-color:#505050;
  /*text-align: center;*/
  padding:10px;
	height: 30px;
		color:white;
}
.watfle{
	margin:0;
	width:100px;
  height: 100%;
	display:flex;
	float:left;
}
.brand__bar{
	width:30px;
  background-image: url(../img/waffle.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.brand{
	text-align: center;
}
.oval{
	float:left;
	margin-left: 370px;
	/*
	float:left;
	width: 140px;
	height: 30px;
	background: red;
	border-radius: 100px / 50px;
	color:white;
	font-weight:bold;*/

}

/*.header{
	height: 100px;
	background-color: pink;
}
.brand{
	height: 100%;
	font-size: 30px;
	line-height: 100px;
}*/
.search{
	margin-right: 20px;
	float:right;
}
.account{
	float:right;
}
.container{
	height: 100vh;
	background-color:#505050;
}
.info{
	padding: 100px 50px 50px;
	background-color:white;
}
.change-pw{
	margin-top: 20px;
	color:white;
}
.pwd{
	margin-top:30px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}

.change-pw-check{
	margin-top: 20px;
	color:white;
}

.pwdck{
	margin-top:30px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}
.pwd{
	margin-top: 13px;
}
.tag{
	height: 300px;
	margin-top: 10px;
	background-color:#505050;
}
.delete-account{
	float: right;
	margin-top: 20px;
}
