@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
	margin:0;
	padding:0;
}




a{
		color:#505050;
		text-decoration:none;
		font-weight:bold;}

body{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 24px;
	background-color:#282828;

}
/*
.top{
	align-items:center;
	background-color: grey;
	padding:15px;
}
*/

/*.oval{
	display: flex;
	float:left;
	width: 140px;
	height: 30px;
	background: red;
	border-radius: 100px / 50px;
	color:white;
	font-weight:bold;
}*/

.global-width{
  width:1024px;
  margin: 0 auto;
}
.header{
  z-index: 1;
  position: fixed;
  background-color: #292E33;
  width:100vw;
  height:50px;
}
.brand{
  display: flex;
  float:left;
  width:100px;
  height: 50px;
  text-align:center;
}
.brand__bar{
  background-image: url(../img/waffle.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  line-height:25px;
}
.brand__watfle{
  color: #7F7F7F;
  width:70px;
  height:50px;
  line-height:50px;
  font-size:2rem;
  margin-left: 2px;
}
.toggle{
  color:white;
  font-size: 2rem;
  float:left;
  width:150px;
  height:15px;
  /* margin-left: calc(50% - 100px - 50px);*/
  margin-left:326px;
  margin-top: 10px;
  line-height:20px;
  text-align:center;
}
.toggle-item{
  color: #fff;
  text-shadow: 0 0 5px orange;
}
.search-box{
  display: flex;
  float:right;
  width:230px;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  line-height:30px;
  text-align:center;
}
.search-box__search{
  width:30px;
  height:30px;
  background-image: url(../img/zoom.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.search-box__input{
  border-radius: 50px;
}

.search-list{
  position: absolute;
  display: grid;
  margin: 30px;
  list-style: none;
  background-color: grey;
  float: left;
  width: 145px;
  opacity:0.85;
  font-size: 1.2rem;
}
.search-list-—display-none{
  display: none;
}
.search-list__item{
  list-style:none;
  padding: 0 10px;
}
.search-list__tag{
  padding-left: 10px;
  color:#ff5a47;
}
.preloader{
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 20px;
  animation: rotate 1s infinite;
}
@keyframes rotate{
  from{ transform: rotate(0); }
  to{ transform: rotate(360deg); }
}

.account-box{
  background-image: url(../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:right;
  width:70px;
  height:40px;
  margin-top: 5px;
  line-height:40px;
  text-align:center;
}
.profile-wrapper{
  position: relative;
  float: right;
  height: 40px;
  margin-top: 5px;
}
.profile-img{
  float: left;
  width: 40px;
  height: 40px;
  background-image: url(../img/user.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.profile-btn{
  float: left;
  width: 10px;
  height: 40px;
  margin-left: 10px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.profile-btn:hover{
  cursor: pointer;
}
.profile-popup{
  position: absolute;
  top: 45px;
  right: 0;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.profile-popup--display-none{
  display: none;
}
.profile-info{
  width: 100%;
  height: 50px;
}
.profile-info__img{
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-image: url(../img/user.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.profile-info__id{
  float: left;
  height: 40px;
  margin: 5px;
  line-height: 40px;
}
.profile-menu{
  list-style: none;
  padding: 0;
  margin-left: 5px;
}
.profile-menu__link{
  color: #000;
  font-size: 1.2rem;
}

.login-btn{
  float: right;
  height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 5px;
  line-height: 30px;
  color: #000;
}

.main-container{
	width:100%;
	align-items:center;
    margin-top: 20px;
    background-color: #282828;
	margin-left:50px;
	margin-right:50px;
	color:white;
}

.main-wrap{
    width:100%;
}

.watfle{
	align-items: center;
	font-size: 38px;
	font-weight:bold;
	color:white;
}

.id{
	display: table;
}

.signup-input-wrap .user-btn{
	display:table-cell;
}


.signup-input-section-wrap{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-input-wrap{
	margin-top:30px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}

#id-btn{

	align-items: center;
	width:200px;
	height:40px;

}

.user_pwd{
	margin-top: 13px;
}

.user_pwdck{
	margin-top: 13px;
}

.email1 .email_dns .emailaddr{
	margin-top:13px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}
.genre{
	display:table;
}
.genre1 .genre2 .genre3 .genre4{
	display:table-cell;
	margin-top:20px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}

.signup-input-wrap input{
	border: none;
	width:410px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
.signup-btn-wrap {
	width:410px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
	padding-top: 13px;
}
