*{
	margin:0;
	padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


a{
		color:#505050;
		text-decoration:none;
		font-weight:bold;}

body{
	font-family: 'Nanum Pen Script', cursive;
	background-color:#282828;

}

.top{
	background-color: grey;
	text-align: center;
	padding:10px;
}


.oval{
	display: flex;
	float:left;
	width: 140px;
	height: 30px;
	background: red;
	border-radius: 100px / 50px;
	color:white;
	font-weight:bold;
}


.main-container{
	width:100%;
	align-items:center;
    margin-top: 20px;
    background-color: #282828;
}

.main-container .main-wrap{
    width:100%;
}

.watfle{
	align-items: center;
	font-size: 42px;
	font-weight:bold;
	color:white;
}


.signup-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-input-wrap{
	margin-top:30px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}
.user_pwd{
	margin-top: 13px;
}
.pwdck{
.user_pwdck{
	margin-top: 13px;
}

.email{
	margin-top:0px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}
.genre{
	margin-top:0px;
	width: 430px;
	height :40px;
	border: solid 1px black;
	background: white;
}

.signup-input-wrap input{
	border: none;
	width:410px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
.signup-btn-wrap {
	padding-top: 13px;
}
.signup-btn-wrap button{
	width: 430px;
	height :48px;
	font-size: 18px;
	background-color:#787878;
	color: black;
	border: solid 1px #505050;
}
